#div_bacharel{
    /*border: 1px solid #000;*/
    float: left;
    width: 255px;
    margin-left: 100px;
}

#div_tecnologo{
    /*border: 1px solid #000;*/
    width: 300px;
    margin-left: 500px;
}

#div_bacharel a{
    text-decoration: none;
}

#div_tecnologo a{
    text-decoration: none;
}