body{ 
   background-image: url("phoenix.jpg");
   background-position: center;	
   background-attachment: fixed;
   background-size: 60% 100%;
   background-repeat: no-repeat;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
	
	
    width: 200%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
	border-style: solid;
	border-width: 0.8px; 
	border-color: darkgray;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 193px;
    text-decoration: none;
	font-size: 20px;
	font-family: Gill Sans Extrabold, sans-serif;
	
}
.navbar a:hover{
	background-color: black;
	border-color: darkorange;
	
}
/*bottom*/

.botbar {
	padding: 20px 100px;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0;
	font-family: Gill Sans Extrabold, sans-serif;	
	color: #f2f2f2;
	font-size:19px;
    width: 200%; /* Full width */
}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.logo{
	
    top:10px;
	left: 50%;
	position:relative;
}

p {
    font-family: verdana;
    font-size: 15px;
}



  
