/*
=====================================================================
            CONFIGURAÇÕES DO SECTION
=====================================================================
*/

.noticia { 
    background-color: rgba(0, 24, 122, 0.54); 
    color: #fff; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 3px;
    font-size: 150%; 
    height: 120px;
}

section{
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #000;
}

#desconto{
    margin-top: 32px;
    text-align: left;
    margin-left: 200px;    
}

.imagem_noticia{
    float: left;
}

#tecnologia{
    margin-top: -15px;
    text-align: left;
    margin-left: 200px;    
}

#tcc{
    margin-top: 30px;
    text-align: left;
    margin-left: 200px;    
}

#emprego{
    margin-top: 30px;
    text-align: left;
    margin-left: 200px;
}

@media only screen and (max-width: 480px) {
    #desconto{
        width: 100%;
        color: red;
    }
}