/*
=====================================================================
            CONFIGURAÇÕES DO SECTION
=====================================================================
*/
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.noticia { 
    background-color: rgba(0, 24, 122, 0.54); 
    color: #fff; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 3px;
    font-size: 150%; 
    height: auto;
}



#desconto{
    margin-top: 32px;
    text-align: left;
    margin-left: 200px;    
}

.imagem_noticia{
    display:flex;
    float: left;
}

#tecnologia{
    margin-top: -15px;
    text-align: left;
    margin-left: 200px;    
}

#tcc{
    margin-top: 30px;
    text-align: left;
    margin-left: 200px;    
}

#emprego{
    margin-top: 30px;
    text-align: left;
    margin-left: 200px;
}


@media only screen and (max-width: 600px) {
.noticia { 
    background-color: rgba(0, 24, 122, 0.54); 
    color: #fff; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 3px;
    font-size: 100%; 
    height: auto;
}
}