.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    
}

body{
	background:linear-gradient(#521D07, #FF8651);
	background-position: center;
	background-size:5 
}
